@import "tailwindcss";


body {
  font-family: 'Unbounded', sans-serif;
}
/* global.css (or index.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;   /* IE, Edge */
  scrollbar-width: none;      /* Firefox */
}
